/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2015, 4:29:33 PM
    Author     : Thierno
*/

.progress_bar > .bar{
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%);
}

.progress_pie {
    -fx-progress-color:#ff33cc;
}

// CSS CLASS FOR OUR BIG PANES
.bordered_pane {
    -fx-background-color: #ff6633;
    -fx-background-radius: 5.0;
    -fx-padding: 30;
    -fx-spacing: 30;
    -fx-border-width: 3px;
    -fx-border-color: #cc0000;
}
.bordered_pane2 {
    -fx-background-color: #ff6633;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #cc0000;
}
// CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}
 